
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* own code */

h1 {
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.bg-customColor {
  background-color: #e99000fa ;
}

.tabs-nav {
  margin-bottom: 1em;
}

h2 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.limit-input {
  width: 5em;
}

.small-error, .small-input {
  width: 60%;
}

.object-label {
  font-weight: bold;
}

.btn-orange { 
  color: #ffffff; 
  background-color: #F7B500; 
  border-color: #F7B500; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #ffffff; 
  background-color: #e89221 !important; 
  border-color: #e89221 !important; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #e89221 !important; 
  border-color: #e89221 !important; 
} 
 
.btn-orange .badge { 
  color: #e89221; 
  background-color: #ffffff; 
}
