.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* own code */

h1 {
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.bg-customColor {
  background-color: #e99000fa;
}

.tabs-nav {
  margin-bottom: 1em;
}

.lang-select {
  width: fit-content !important;
}

h2 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.limit-input {
  width: 5em;
}

.small-error,
.small-input {
  width: 60%;
}

.object-label {
  font-weight: bold;
}


.cover_img {
  width: 15%;
  height: auto;
}

.cover_img_details {
  width: 22%;
  height: auto;
}

.trailer {
  width: 65%;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.short-hr, .short {
  width: 40%;
}

.big-margin-left {
  margin-left: 5%;
}

.storyline {
  text-indent: 2em;
}

.corner-borders {
  /* border on corners */
  --b: 5px;
  /* thickness of the border */
  --c: #f76f00;
  /* color of the border */
  --w: 25%;
  /* width of border */
  padding: 1em;

  border: var(--b) solid #0000;
  /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    /* conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p), */
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p);
  /* conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p); */
}

.insert-button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

svg {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.delete-popover-header {
  background-color: #e99000fa;
}

.popover-arrow,
.delete-popover-header::before {
  /* display: none !important;  */
  border-color: #e99000fa !important;
}

.is_creator {
  margin-right: 5%;
  color: #e54800;
}

.w-50 {
  width: 50% !important;
}

.error {
  color: #e13d02;
  text-align: center;
}

.invalid-field {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.leaflet-container {
  width: 100%;
  padding-top: 75%;
  /* 4:3 aspect ratio */
}

.text-large {
  font-size: large;
}

.text-error {
  color: #ff2204;
}

.bg-sort-filter {
  background-color: rgba(0, 0, 0, 0.03);
}

.search-sort-title, .announcement-create-header, .clickable {
  cursor: pointer;
}

.banned-search-filter {
  text-align: center;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.announcements {
  text-decoration: underline;
  margin-left: 8%;
}

/* chat box css */
.chatbox {
  right: 3.7% !important;
}

.textAreaBox {
  flex-basis: 100% !important;
  background: white !important;
}

.inputArea {
  gap: 0px !important;
}

.textAreaBox textarea {
  padding: 5px !important;
  height: 60px !important;
  border:  1px solid #47494e76 !important;
  border-radius: 10px !important;
}

.buttonsBox {
  padding: 15px 0px 0px 0px !important;
}

.inputfield {
  padding-left: 2px !important;
  height: 75px !important;
}

.inputfield .inputArea .buttonsBox div img {
  height: 22px !important;
  opacity: .8 !important;
}