python-arango==8.1.0
python-dotenv==1.0.0
scrapy==2.11.2
faker==28.4.1
bcrypt==4.2.0
nomic==3.1.2
nomic[local]==3.1.2
gensim==4.3.1
nltk==3.9.0
transformers==4.45.2
sentence_transformers==3.1.1
datasets==3.1.0